<div class="login-wrapper">
  <div class="background-view">
    <div class="sign-in-background">
      <div class="overlay-wrapper">
        <div class="row" style="width: 100%; height: 100%; margin: 0">
          <div class="col-lg-8 col-xl-8 col-md-8 col-sm-12 col-xs-12 p-0 m-0">
            <div class="form-wrapper">
              <div class="sign-in-header">
                <h4 class="text-white m-0">Sign In & Sign Up</h4>
              </div>
              <form>
                <div class="form-group">
                  <input
                    type="email"
                    class="form-control custom-input"
                    id="exampleInputEmail1"
                    aria-describedby="emailHelp"
                    placeholder="EmailId"
                  />
                </div>
                <div class="form-group">
                  <input
                    type="password"
                    class="form-control custom-input"
                    id="exampleInputPassword1"
                    placeholder="Password"
                  />
                </div>
                <div class="form-check text-white">
                  <input
                    type="checkbox"
                    class="form-check-input"
                    id="exampleCheck1"
                  />
                  <div>
                    <label class="form-check-label" for="exampleCheck1"
                      >Remember Me</label
                    >
                    <label
                      class="form-check-label float-right"
                      for="exampleCheck1"
                      >Forgot Password...?</label
                    >
                  </div>
                </div>
                <div class="" style="padding: 10% 0">
                  <button
                    type="submit"
                    class="btn btn-primary mb-4"
                    style="
                      border-radius: unset;
                      border-color: rgb(1, 161, 255);
                      background-color: rgb(1, 161, 255);
                    "
                  >
                    Submit
                  </button>
                  <p class="m-0 text-white">
                    Don't Have an account...? <a routerLink="/signup" style="color: rgb(23 23 24 / 65%)"><b>Sign Up</b></a> Here
                  </p>
                </div>
              </form>
            </div>
          </div>
          <div class="col-lg-4 col-xl-4 p-0 m-0">
            <div class="text-wrapper">
              <h1 style="font-size: 3rem;
              margin-top: 10%;
              margin-bottom: 15%;">
                Welcome to SignIn
              </h1>
            </div>
          </div>
        </div>
        <div class="copywrite-wrapper">
          <p class="m-0 p-0 text-white">
            @ 2021 dealer Sign Up & Login Form. All Rights Reserved | Design by
            <b class="">Saravanan</b>
          </p>
        </div>
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 320" style="position: absolute;
        bottom: 0px;
        border-radius: 0 0 2% 3%;">
          <path
            fill="#0099ff"
            fill-opacity="1"
            d="M0,320L80,309.3C160,299,320,277,480,234.7C640,192,800,128,960,85.3C1120,43,1280,21,1360,10.7L1440,0L1440,320L1360,320C1280,320,1120,320,960,320C800,320,640,320,480,320C320,320,160,320,80,320L0,320Z"
          ></path>
        </svg>
      </div>
    </div>
  </div>
</div>
